
body {
  position: fixed;

  padding: 0;
  margin: 0;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;

  background-color: #000;

  font-family: monospace, sans-serif;;
  font-weight: bolder;

  user-select: none;

  * {
    user-select: none;
  }

  &.fullscreen {
    fullscreen {
      display: none;
    }
  }

  not-capable {
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: none;

    flex-direction: column;

    justify-content: space-around;
    align-items: center;

    text-align: center;

    margin: 1.5em;

    color: #fff;
  }

  capable {
    no-permission {
      position: absolute;

      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      display: flex;
      flex-direction: column;

      margin: 1.5em;

      font-size: 1.5em;

      align-items: center;
      justify-content: center;

      text-align: center;

      white-space: pre-line;

      color: #fff;

      &.granted {
        display: none;
      }

      announcement {
        // display: block;
      }

      hint {
        margin-top: 2rem;

        font-size: 0.8rem;

        a {
          font-size: 1.5em;
          font-weight: bolder;
          // font-style: italic;

          // text-decoration: none;

          color: #fff;
        }
      }
    }

    authorized {
      position: absolute;

      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      display: none;

      flex-direction: column;


      &.authorized {
        display: flex;
      }

      &.storage {
        lower, upper {
          // transform: scale(0.66);
          transform: scale(0.95);
        }

        storage-panel {
          display: block;
        }

        time {
          font-size: 1em;
        }
      }

      upper, lower {
        transition: all 0.15s ease-in-out;
      }

      upper {
        position: relative;

        flex: 1 1 auto;

        now {
          position: absolute;

          top: 0;
          left: 0;
          right: 0;
          bottom: 0;

          // height: calc(100% - 10em);

          // flex: 1 1 auto;

          nodes {
            position: absolute;

            top: 0;
            left: 0;
            right: 0;

            height: 100%;

            display: flex;

            align-items: stretch;
            justify-content: center;

            &.vertical {
              flex-direction: column-reverse;
            }

            div {
              bottom: 0;

              flex: 1 0 auto;

              background-color: #fff;
            }
          }
        }

        menu {
          display: none;

          position: absolute;

          margin: 0;
          padding: 0;

          top: 0;
          left: 0;
          right: 0;
          bottom: 0;

          flex-direction: column;

          justify-content: space-around;
          align-items: center;

          font-size: 3em;

          color: #ddd;

          // background-color: rgba(0, 0, 0, 0.33);

          user-select: none;

          text-shadow: #000 0px 0px 1em;

          &.visible {
            display: flex;
          }

          more-bars, less-bars {
            cursor: pointer;

            user-select: none;

            &:hover {
              color: #fff;
              text-shadow: #999 0px 0px 0.5em;
            }
          }
        }
      }

      lower {
        flex: 0 0 auto;

        history {
          height: 10em;
          height: 33vh;

          color: #fff;
          background-color: #000;

          // direction: rtl;

          overflow: hidden;

          display: flex;


          slice {
            float: left;

            flex: 1 0 auto;

            display: flex;
            flex-direction: column;

            background-color: #000;

            @opacity: 0.67;

            &.start {
              background-color: rgba(0, 255, 0, @opacity);
            }

            &.end {
              background-color: rgba(255, 0, 0, @opacity);
            }

            &.mover {
              background-color: rgba(0, 0, 255, @opacity);
            }

            &.start.mover {
              background-color: rgba(0, 255, 255, @opacity);
            }

            &.end.mover {
              background-color: rgba(255, 0, 255, @opacity);
            }

            // &.mover {
            //   background-color: rgba(255, 255, 0, @opacity);
            // }

            // &.start.mover {
            //   background-color: rgba(255, 255, 0, @opacity);
            // }

            // &.end.mover {
            //   background-color: rgba(255, 255, 0, @opacity);
            // }

            node {
              margin: 0;
              padding: 0;
              border: none;

              flex: 1 0 auto;

              display: block;

              background-color: #fff;

              transition: opacity 0.1s ease-in-out;
            }
          }
        }

        time {
          position: absolute;

          bottom: 0;
          right: 0;

          font-size: 0.75em;

          color: #fff;

          text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 0.5em;

          span {
            margin: 0;
          }

          sup, sub, plus {
            margin: 0;
            font-size: 0.75em;
          }
        }
      }

      storage-panel {
        display: none;

        position: absolute;

        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        color: #fff;
        background-color: rgba(0, 0, 0, 0.5);
      }

      overlay {
        position: absolute;

        flex: none;

        top: calc(66vh + 2em);

        // bottom: 33vh;
        right: 0.5em;

        height: auto;
        width: auto;

        fullscreen {
          position: absolute;

          bottom: 0;
          right: 0;

          font-size: 2em;
          font-weight: bold;

          width: 2em;
          height: 2em;

          transform: rotate(45deg);

          cursor: pointer;

          user-select: none;
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

          &:hover {
            up, down, left, right {
              text-shadow: rgba(255, 255, 255, 0.85) 0px 0px 5px;
            }
          }

          up, down, left, right {
            position: absolute;

            left: 0;
            right: 0;

            height: 1em;
            line-height: 1 em;

            text-align: center;

            transform-origin: 50% 100%;

            color: #fff;
          }

          a1 {
            position: absolute;

            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            down {
              transform: rotate(180deg);
            }
          }

          a2 {
            position: absolute;

            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            transform: rotate(-90deg);

            right {
              transform: rotate(180deg);
            }
          }

          // up, down, left, right {
          //   position: absolute;

          //   left: 0;
          //   right: 0;

          //   height: 1em;
          //   line-height: 1em;

          //   text-align: center;

          //   transform-origin: 50% 100%;

          //   color: #fff;
          // }

          // down {
          //   transform: rotate(180deg);
          // }

          // left {
          //   transform: rotate(270deg);
          // }

          // right {
          //   transform: rotate(90deg);
          // }
        }

        storage {
          position: absolute;

          bottom: 2.5em;
          right: 0;

          font-size: 2em;

          // margin: 1.5em;
          margin-top: 0.5em;
          margin-right: 0.35em; // wot?

          width: 1.25em;
          height: 1.25em;

          display: flex;

          justify-content: center;
          align-items: center;

          transform: rotate(45deg);

          background-color: rgba(2, 50, 2, 0.25);
          box-shadow: rgba(10, 90, 90, 0.4) 0px 0px 1em;

          cursor: pointer;

          &:hover {
            background-color: rgba(6, 70, 6, 0.35);
            box-shadow: rgba(10, 90, 90, 0.9) 0px 0px 1em;
          }

          icon {
            // position: absolute;

            flex: 1 1 auto;

            transform-origin: 50% 50%;
            transform: rotate(-45deg);

            text-align: center;

            color: rgba(220, 255, 200, 0.8);
          }
        }
      }

      time {
        position: absolute;

        bottom: 0;
        right: 0;

        padding-top: 1em;

        font-size: 0.75em;

        color: #fff;

        text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 0.5em;

        cursor: pointer;

        transition: all 0.15s ease-in-out;

        span {
          margin: 0;
        }

        sup, sub, plus {
          margin: 0;
          font-size: 0.75em;
        }
      }
    }
  }
}